# Developer dependencies
.bin

# IDE resources
.vscode
.idea
.devcontainer/

# Helm resources
charts/*/Chart.lock
charts/*/charts
helper-charts/*/Chart.lock
helper-charts/*/charts

# Other rsources
.env
.envrc
Gemfile.lock

# Trash
.DS_Store