# IDE resources
.vscode
.idea
.devcontainer/

# Helm resources
stable/*/Chart.lock
stable/*/charts
incubator/*/Chart.lock
incubator/*/charts

# Other rsources
.env
.deploy/
Gemfile.lock

# Trash
.DS_Store
